{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Empresa Nevado Gas</h2>
            <p>Empresa dedicada a la gestion y distribucion del gas en el estado Mérida</p>
            <button class="btn btn-primary btn-lg" type="button">Registrar</button>
        </div>
    </div>
</div>



{% endblock  %}